extends ../partials/layout

block content
  div.auth-container
    h1 Login
    form(method='POST' action='/auth/login')
      input(type='text' name='username' placeholder='Enter username' required).credentials
      input(type='password' name='password' placeholder='Enter password' required).credentials
      button(type='submit').button.input-button Login
    p New user?
    a(href='/auth/register') Create an account