extends ../partials/layout

block content
  div.auth-container
    h1 Register
    form(method="POST", action="/auth/register")
      input(type="text", name="username", placeholder="Enter username" required)
      input(type="email", name="email", placeholder="Enter email" required)
      input(type="password", name="password", placeholder="Enter password" required)
      input(type="submit", value="Register!")