doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title= currentPage
    link(rel='stylesheet', href='/css/reset.css')
    link(rel='stylesheet', href='/css/style.css')
    script(type='text/javascript', src='./src/jquery.js')
    script(type='text/javascript', src='./src/main.js', defer)
  body
    include ./nav
    block content