a(href='/').logo Wordsmith
nav
  ul
    li: a(href='/auth/login', title='Login') Login
    li: a(href='/auth/register', title='Register') Register
    li: a(href='/user', title='Profile') Profile
    li: a(href='/auth/logout', title='Logout') Logout