header
  a(href='/')#logo WORDSMITH
  nav
    a(href='/auth/login', title='Login') Login
    a(href='/auth/register', title='Register') Register
    a(href='/user', title='Profile') Profile
    a(href='/auth/logout', title='Logout') Logout