@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');
*, *:before, *:after {
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

body {
    font-family: 'Open Sans', sans-serif;
}

#root {
    display: flex;
    flex-wrap: wrap;
    height: 100vh;
    padding: 0 22px 100px;
}

@media(min-width:1025px) {
    #root {
        padding: 0 66px 132px;
    }
}