extends ./partials/layout

block content
  div#container

    form(action='/songs')
      input(type='text' name='search' placeholder='Find Lyrics').search
      button(type='submit').search-btn &raquo;	