@import url('https://fonts.googleapis.com/css?family=Alegreya+Sans:300,400');

/****** 
  global - global styles 
******/

body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.8em;
}

a {
  text-decoration: none;
}

.search {
  border-radius: 10px 0px 0px 10px;
  border: none;
  outline: none;
  width: 20vw;
  padding: 15px 26px;
  z-index: 99;
  letter-spacing: 2px;
  font-size: 1.1em;
  background-color:  #FFFFF7;
  box-shadow: 1px 1px 5px #555;
  transition: 500ms ease-in-out;
}

.search-btn {
  border-radius: 0px 10px 10px 0px;
  padding: 1px 26px 12px;
  background-color: #4CD4B0;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 2em;
  color:  #FFFFF7;
  box-shadow: 1px 1px 5px #555;
  transition: 1000ms ease;
}

.search-btn:hover {
  background: #342CCF;
}

input.visible::placeholder {
  opacity: 1;
}

input::placeholder {
  color: #888888;
  font-size: 1rem;
  letter-spacing: 2px;
  opacity: 0;
  transition: 2000ms ease;
}

/****** 
  nav - navigation style 
******/

header {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  align-items: center;
  height: 15vh;
  margin-top: 30px;
}

nav {
  display: flex;
  justify-content: center;
}

nav a {
  margin: 25px;
  color: #777;
}

#logo {
  font-weight: bold;
  font-size: 2.5em;
  letter-spacing: 5px;
  color: #1A1A1A;
}



/****** 
  / - main index style 
******/

#container {
  width: 100%;
  height: 85vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: url('../images/chance.jpg');
  background-size: cover;
}

/****** 
  /songs - songs index style 
******/
#songs-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 70vh;
  flex-wrap: wrap;
}

.submit-image {
  width: 290px;
  height: 290px;
  border-radius: 10px;
  margin-bottom: 15px;
  box-shadow: 2px 2px 8px #999;
  border: none;
  outline: none;
  cursor: pointer;
}

.album {
  margin: 25px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.songs {
  width: 100%; 
}



/****** 
  /songs:id - songs single style 
******/
#single-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 80vh;
}

.song-single {
  width: 80%;
  height: 70vh;
  border-radius: 10px;
  display: flex;
  box-shadow: 2px 2px 8px #999;
}

.single-album {
  display: flex;
  flex: 1;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  background-size: cover;
}

.single-album img {
  height: 300px;
  width: 300px;
  display: flex;
  box-shadow: 2px 2px 13px #444;
}

.info {
  display: flex;
  flex: 2;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.info h2, .info h3 {
  display: flex;
  flex: 0.1;
  height: 20%;
  width: 80%;
  text-align: center;
  flex-direction: column;
  margin-top: 5px;
  margin-bottom: 10px;
}

.info h2 {
  font-size: 1.6em;
  font-weight: bold;
  margin-top: 30px;
}

.lyrics {
  display: flex;
  flex: 2;
  height: 15%;
  width: 80%;
  margin: 5px 0 10px;
  overflow: hidden;
}

.lyrics p { 
  overflow-y: scroll;
  padding: 25px; 
  color: #777;
  font-size: 1.1em;
  font-weight: 300;
  font-family: 'Alegreya Sans', sans-serif;

} 

::-webkit-scrollbar {
  width: 0px;
  background: transparent; 
}

.info form {
  width: 100%;
  height: 10%;
}

.fav-btn {
  background: yellow;
  border: none;
  outline: none;
  display: flex;
  flex: 2; 
  height: 100%;
  width: 100%; 
  font-size: 1.1em;
  font-weight: bold;
  cursor: pointer;
  justify-content: center;
}

.hidden {
  display: none;
}

.auth-container {
  height: 80vh;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.auth-container h1 {
  font-size: 2em;
  margin-bottom: 50px;
}

.button {
  border-radius: 10px;
  width: 8vw;
  height: 5vh;
  background-color: #4CD4B0;
  color:  #FFFFF7;
  border: none;
  cursor: pointer;
  font-size: 1em;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 500ms;
}

.button:hover {
  background-color: #342CCF;
  color: #FFFFF7;
}

.input-button {
  margin: 50px auto;
}

.credentials {
  border: none;
  outline: none;
  border-bottom: 1px solid black;
  font-size: 1.2em;
  padding: 10px;
  margin: 50px;
  text-align: center;
  background-color: transparent; 
}

.credentials::placeholder {
  opacity: 1;
}

 .auth-container p, .auth-container a {
  font-size: 1em;;
} 