extends ../partials/layout

block content
  div.user-song-container
    h1 placeholder

    div.featured
      img(src= song.album_image)
      h2= song.title 
      h2= song.artist 

      div.options
        a(href='/user/' + song.id + '/edit') Edit it!
        form(method='POST' action='/user/' + song.id + '?_method=DELETE')
          input(type='submit' value='Delete it!')


      div.linkback
        a(href='/user/') Back to profile
   
    