extends ../partials/layout

block content
  div.user-container
    h1 Welcome #{user.username}
    h2 Your songs

      each song in songs
        div.songs
        form(action='user/' + song.id + '/')  
          input(type='submit' value='' style='background-image: url(' + song.album_image + ')').submit-image
          h3.song-title= song.title
          h3.song-artist= song.artist