<% include ../partials/boilerplate %>

<div class='hero'>
</div>


  <div class='movie-container'>
    <div class='movie'>
      <h2><%= data.title %></h2>
      <h3><%= data.genre %></h3>
      <h3><%= data.year %></h3>
      <div class='links'>
        <a href='/movies/<%= data.id %>/edit'>Edit it!</a>
        <form method='POST' action='/movies/<%= data.id %>?_method=DELETE'>
          <input type='submit' value='Delete it!' />
        </form>
      </div>
      </div>
      <div class='linkback'>
        <a class='seeall' href='/movies/'>See all movies</a>
      </div>
    </div>
    
<% include ../partials/end %>