extends ../partials/layout

block content

  form(method='POST' action='/user/' + song.id + '?_method=PUT')
    input(name='title' type='text' value= song.title)
    input(name='artist' type='text' value= song.artist)
    input(type='submit' value='Update')
