extends ../partials/layout

block content
  div#songs
    form(action="/songs")
      input(type="text", name="search", placeholder="Search tracks").search
      input(type="submit", value="search")
    each song in songs.hits
      form(action="songs/" + song.result.id + "/")  
        input(type="hidden" name="id" value= song.result.id)
        input(type="image" src= song.result.header_image_thumbnail_url)
        label.song-title= song.result.title_with_featured
        label.song-artist= song.result.primary_artist.name